@charset "UTF-8";

/*=== [reset] ===*/
body {
	font:normal 12px 'Nanum Barun Gothic', Arial, sans-serif;
	color:#191919; /*#1a2d53;*/
	line-height:1.1;
	margin:0;
	padding:0;
	overflow:hidden;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
table {border-collapse:collapse; border:1px solid #777;}
caption {visibility:hidden; height:0;}
input, textarea, keygen, select, button {font-family:'Nanum Barun Gothic', Arial, sans-serif;}
ul, ol {list-style:none;}
img {border:0;}
a {text-decoration:none; color:#191919;}




/*=== [layout] ===*/
.wrap {width:1080px; height:1920px;}
.header {width:1080px; height:160px; background-color:#204bb4; position:relative;}
.contents {width:1080px;  height:1580px; background-color:#e7e7f1; box-sizing:border-box;/*font-size:0;*/}
.footer {width:1080px; height:180px;  background-color:#696e82;}
/*.contents div {text-align:center; margin:0 auto;}*/
.contents > * {text-align:center; margin:0 auto;}


/*=== [header] ===*/
.h_camera {position:absolute; top:35px; left:30px; width:80px; height:80px;}
.h_patient {position:absolute; top:35px; left:30px; width:80px; height:80px;}
.h_voice {position:absolute; top:35px; left:120px; width:80px; height:80px;}
.h_doctor {position:absolute; top:35px; left:210px; width:80px; height:80px;}
.h_mic {position:absolute; top:0; left:50%; margin-left:-123px; width:246px; height:220px; z-index:100;}
.h_home {position:absolute; top:35px; right:30px; width:80px; height:80px;}



/* 안내 스퀘어 아이콘 */
.guide_m_data .round_m_box {width:840px; display:inline-block; overflow:hidden;}

.guide_m_data .round_m_box li {float:left; background-color:#fff; border-radius:10px; margin:15px;}
/*.guide_m_data .round_m_box li:nth-child(4) {margin-left:0;}
.guide_m_data .round_m_box li:nth-child(even) {margin-top:0;}*/
/*.guide_m_data .round_m_box li + li {margin-left:30px; margin-top:30px;}*/
.guide_m_data .round_m_box li > a {display:block; width:250px; height:250px; padding-top:58px; box-sizing:border-box;}
.guide_m_data .round_m_box li > a > * {display:block;}
.guide_m_data .round_m_box .m_data_txt {font-size:30px; color:#44437f; font-weight:700; margin-top:20px;}



/* 컨텐츠 상단 패딩값 */
.p_pt {padding-top:100px; position:relative;}  /* 회진 */
.guide_t {padding-top:200px;}  /* 안내 */



/*=== [타이틀폰트] ===*/

/* 회진페이지 타이틀 폰트 */
.contents .round_p_list_box {width:965px; text-align:left; margin-bottom:25px;}
.round_p_list_box h2 {font-size:40px;}

/* 안내 타이틀 폰트 */
.contents .guide_tit {width:965px; margin-bottom:120px; /*145px;*/}
.guide_tit h2 {font-size:62px;}



/*=== [페이징] ===*/
/* 페이징 */
.contents .page_wrap {width:965px; font-size:0;}
.contents .page_box {overflow:hidden; display:inline-block; padding-top:20px;}
.contents .page_box li {float:left;}
.contents .page_box li + li {margin-left:10px;}
.contents .page_box li .page_num {display:block; width:40px; height:40px; border-radius:50%; background-color:#fff; font-size:20px; font-weight:700; padding-top:12px; box-sizing:border-box;}
.contents .page_box li .selected {background-color:#204bb4; color:#fff;}

/*=== [footer] ===*/
.footer .f_logo {text-align:center; padding-top:50px;}

/* 예아니오 버튼 : 음성검색*/
/*.contents .btn_img {overflow:hidden; display:inline-block; font-size:0; margin-top:45px;}
.btn_img li {float:left;}
.btn_img li + li {margin-left:20px;}
*/


/*=== [버튼] ===*/
/* 버튼 */
.button_box {width:100%; font-size:0;}
.button_box .button_con {overflow:hidden; display:inline-block; margin-top:50px; }
.button_box .button_con02 {overflow:hidden; display:inline-block; margin-top:10px; }
.button_box li {float:left;}
.button_box li + li {margin-left:10px;}
.button_box .btn_area {display:inline-block; width:350px; height:110px; border-radius:50px; background-color:#204bb4; }
.button_box .btn_area02 {display:inline-block; width:185px; height:60px; border-radius:50px; background-color:#4a515d; }  /*Voice EMR 기록 버튼 - 진그레이버튼*/
.button_box .bblue {background-color:#204bb4; }
.button_box .bgray {background-color:#b1b1b9; }
.button_box .btn_txt {display:inline-block; text-align:center; font-size:40px; color:#fff; padding-top:32px; box-sizing:border-box; }
.button_box .btn_txt02 {display:inline-block; text-align:center; font-size:20px; color:#fff; padding-top:20px; box-sizing:border-box; }

/*Voice EMR 기록 버튼 - 화이트버튼*/
.button_con03 {position:absolute; top:10px; right:20px;}
.btn_area03 {display:inline-block; width:170px; height:50px; border-radius:50px; background-color:#fff; }
.btn_txt03 {display:inline-block; text-align:center; font-size:20px; font-weight:700; padding-top:15px; box-sizing:border-box; }
.button_con03 li {float:left;}
.button_con03 li + li {margin-left:10px;}

/*=== [imgswap 클릭시적용] ===*/
.imgswap img:last-child{display:none}
.imgswap:active img:first-child{display:none}
.imgswap:active img:last-child{display:inline-block}


/*=== [컨텐츠 상단 패딩값] ===*/
.p_pt {padding-top:100px; position:relative;}  /* 회진 */
.guide_t {padding-top:200px;}  /* 안내, 음성안내 */
.con_t150 {padding-top:150px;}
.photo_t {padding-top:95px;}


/*=== [타이틀폰트] ===*/

/* 회진페이지 타이틀 폰트 */
.contents .round_p_list_box {width:965px; text-align:left; margin-bottom:18px; /*25px;*/}
.round_p_list_box h2 {font-size:40px;}

/* 안내 타이틀 폰트 */
.contents .guide_tit {width:965px; margin-bottom:120px;}
.guide_tit h2 {font-size:62px;}


/*=== [테이블 공용] ===*/
.a_left {text-align:left; padding-left:15px;} /*  텍스트 정렬 및 패딩 */
.b_left {border-left:1px solid #c7c7c7; } /*  td 보더 좌측 */
.b_ltop {border-left:1px solid #c7c7c7; border-top:1px solid #c7c7c7;} /*  td 보더 좌측 탑 */
.b_top {border-top:1px solid #c7c7c7;} /*  td 보더 탑 */

/*=== [안내페이지 공용] ===*/
.contents .ex_box {width:100%; height:100%; background-color:#fff;  font-size:0; box-sizing:border-box;}
.contents .ex_box .ex_pt {position:relative; padding-top:60px;}
.contents .ex_box .btn_bnext {position:absolute; top:50%; right:0;}
.contents .ex_box .btn_bprev {position:absolute; top:50%; left:0;}

