@charset "utf-8";




/*=== [contents] ===*/

/* 음성검색 타이틀 폰트 */
.contents .voice_tit {width:965px; margin-bottom:120px; /*145px;*/ }
.voice_tit h2 {font-size:66px;}

/* 음성 상단 에니매이션 */
.contents .voice_ani {margin-bottom:55px;}



