@charset "utf-8";


/*=== [contents] ===*/

 /* 회진 환자리스트 */

.contents .doctor_info_box {
	position:relative; 
	background-color:#fff; 
	width:965px; 
	height:245px; 
	margin-bottom:105px;
	box-shadow:1px 5px 5px rgba(0,0,0,0.2);
}
.doctor_info_box .doctor_photo {position:absolute; top:50%; margin-top:-87.5px; left:40px; width:150px; height:175px;}
.doctor_info_box .doctor_info {position:absolute; top:50px; left:220px; text-align:left;}
.doctor_info_box .info_list {font-size:27px;}
.doctor_info_box .info_list li+li {margin-top:20px;}
.doctor_info_box .doctor_list {position:absolute; top:50px; right:40px;}
.doctor_info_box .doctor_list table {border:1px solid #c7c7c7;}
.doctor_list .name {height:70px; text-align:center; font-size:27px;}
.doctor_list .t_title {background-color:#1b88e5; font-size:30px; color:#fff;}



 /* 회진 환자 리스트 - 리스트 */
.contents .patient_r_list  {width:965px; /*margin-bottom:60px;*/}
.contents .patient_r_list table {width:965px;}
.contents .patient_r_list .pname {height:90px; background-color:#fff; text-align:center; font-size:20px;}
.contents .patient_r_list .p_title {height:75px; background-color:#737d91; color:#fff;}
.contents .patient_r_list input[type="radio"] {width:30px; height:30px;}






 /* 회진 환자 리스트 - 버튼 */
.contents .button_box {position:absolute; bottom:50px; left:50%; margin-left:-345px; width:690px;}
.button_box li {float:left;}
.button_box .r_btn {display:block; width:340px; height:110px; border-radius:50px; text-align:center; font-size:40px; color:#fff; padding-top:30px; box-sizing:border-box;}
.button_box .r_start {background-color:#204bb4;}
.button_box .r_end {background-color:#b1b1b9;}
.button_box li + li {margin-left:10px;}


