<template name="movedConfirm">
	<div id="movedConfirm">
		<div class="wrap">
			<div class="follow_bg">
				<!-- 도착 H1310 -->
				<div class="arrival_wrap">
					<p class="fo_move_txt01">{{고객명}}님의 회진 장소에 도착했습니다.<br />회진을 진행하시겠습니까?</p>

					<div class="fo_arrival_ani">
						<div class="loading"></div>
						<div id="loading-text">도 착</div>
					</div>

					<ul class="fo_move">
						<li class="left" name="btnGo">
							<a class="imgswap">
								<img src="/images/round/move/btn_confirm.png"  alt="확인" />
								<img src="/images/round/move/btn_confirm_h.png"  alt="확인" />
							</a>
						</li>
						<li class="right" name="btnCancle">
							<a class="imgswap">
								<img src="/images/round/move/btn_cancel.png"  alt="취소" />
								<img src="/images/round/move/btn_cancel_h.png"  alt="취소" />
							</a>
						</li>
					</ul>
				</div>
				<!-- //도착 H1310 -->
			</div>
		</div>

			<!--&lt;!&ndash;    텍스트 라인&ndash;&gt;-->

			<!--<div class="m_txt_title">-->
			<!--<p class="m_txt01">{{고객명}}님의 회진장소에 도착하였습니다</p>-->
			<!--<p class="m_txt02">회진을 진행하시겠습니까?</p>-->
			<!--</div>-->

			<!--&lt;!&ndash;    회진모션&ndash;&gt;-->

			<!--<div class="loading-container">-->
			<!--<div class="loading"></div>-->
			<!--<div id="loading-text">도 착</div>-->
			<!--</div>-->


			<!--&lt;!&ndash;    회진 버튼&ndash;&gt;-->

			<!--<ul class="button_box">-->
			<!--<li>-->
			<!--<a href="" name="btnGo">-->
			<!--<div class="r_btn r_start">회진시작</div>-->
			<!--</a>-->

			<!--</li>-->
			<!--<li>-->
			<!--<a href="" name="btnCancle">-->
			<!--<div class="r_btn r_end">회진종료</div>-->
			<!--</a>-->

			<!--</li>-->
			<!--</ul>-->
			<!--</div>-->

	</div>
</template>