<template name="patientList">
	<div id="patientList">
		<div class="contents p_pt">
			<!-- 의사정보 시작 -->
			<div class="doctor_info_box">
				<div class="doctor_photo">
					<img src="/images/round/sample_doctor_photo.svg" alert="의사사진" />
				</div>
				<div class="doctor_info">
					<ul class="info_list">
						<li>회진일 : {{회진일}}</li>
						<li>진료과 : {{진료과}}</li>
						<li>주치의 : {{주치의}}</li>
					</ul>
				</div>
				<div class="doctor_list">
					<table>
						<caption>환자리스트</caption>
						<col style="width:140px" />
						<col style="width:140px" />
						<thead>
						<tr class="name t_title">
							<th scope="col" class="b_left">총환자</th>
							<th scope="col" class="b_left">회진</th>
						</tr>
						</thead>
						<tbody>
						<tr class="name">
							<td class="b_left">{{총환자}}명</td>
							<td class="b_left">{{완료환자}}명</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 의사정보 끝 -->
			<!-- 회진환자 리스트 시작 -->
			<div class="round_p_list_box">
				<h2 name="reset_isCompleted">회진환자 리스트</h2>
				<table class="patient_table">
					<thead>
					<tr>
						<th width="70px">선택</th>
						<th width="60px">번호</th>
						<th width="75px">병실</th>
						<th width="100px">성명</th>
						<th width="105px">등록번호</th>
						<!--<th width="203px">진단명</th>-->
						<th>진단명</th>
						<th width="203px">수술명</th>
						{{#if isTemp}}
						<th>침대입력</th>
						{{else}}
						<th width="50px">HOD</th>
						<th width="50px">POD</th>
						{{/if}}
					</tr>
					</thead>
					<tbody>
					{{#each lists}}
					<tr class="{{completed}}">
						<td><input type="radio" name="radio_patientList" data-id="{{_id}}"/></td>
						<td>{{침대번호}}</td>
						<td>{{병실}}</td>
						<td>{{이름}}</td>
						<td>{{등록번호}}</td>
						<td class="t_left_10">{{진단명}}</td>
						<td>{{수술명}}</td>
						{{#if isTemp}}
						<td><input name="inpBedNo" data-id="{{_id}}"></td>
						{{else}}
						<td>{{HOD}}</td>
						<td>{{POD}}</td>
						{{/if}}
					</tr>
					{{/each}}
					</tbody>
				</table>


			</div>
			<!-- 회진환자 리스트 끝 -->

			<div class="page_wrap">
				<ul class="page_box">
					{{#each page}}
					<li>
						<a href="" class="page_num {{selected this}}" data-val="{{this}}">
							<span data-val="{{this}}">{{this}}</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>


			<!-- 회진환자 리스트 버튼시작 -->
			<div class="wrap_checkup_button">
				<ul>
					<li>
						<a href="" name="move">
							<div class="r_btn r_start">회진시작</div>
						</a>
					</li>
					<li>
						<a href="" name="end">
							<div class="r_btn r_end">회진종료</div>
						</a>
					</li>
				</ul>
			</div>

			<!-- 회진환자 리스트 버튼끝 -->
		</div>
		<!-- contents 끝 -->
	</div>
</template>