<template name="voiceEmr">
	<div id="voiceEmr">

		<audio id="myAudio">
			<source src="/sounds/vrsound.wav" type="audio/wav">
			<!--Your browser does not support the audio element.-->
		</audio>


		<!-- contents -->
		<div class="contents p_pt">
			<!-- 환자정보 -->
			<div class="round_p_list_box">
				<h2>환자정보</h2>
			</div>
			<div class="patient_list">
				<table>
					<caption>환자정보</caption>
					<!--<col style="width:64px" />-->
					<col style="width:74px" />
					<col style="width:94px" />
					<col style="width:104px" />
					<col style="" />
					<col style="width:170px" />
					<col style="width:100px" />
					<col style="width:100px" />
					<thead>
					<tr class="pname p_title">
						<!--<th scope="col">번호</th>-->
						<th scope="col" class="b_left">병실</th>
						<th scope="col" class="b_left">성명</th>
						<th scope="col" class="b_left">등록번호</th>
						<th scope="col" class="b_left">진단명</th>
						<th scope="col" class="b_left">수술명</th>
						<th scope="col" class="b_left">HOD</th>
						<th scope="col" class="b_left">POD</th>
					</tr>
					</thead>
					<tbody>
					{{#with cstInfo}}
						<tr class="pname">
							<!--<td class="b_left">1</td>-->
							<td class="b_left">{{병실}}</td>
							<td class="b_left">{{이름}}</td>
							<td class="b_left">{{등록번호}}</td>
							<td class="b_left">{{진단명}}</td>
							<td class="b_left">{{수술명}}</td>
							<td class="b_left">{{HOD}}</td>
							<td class="b_left">{{POD}}</td>
						</tr>
					{{/with}}
					</tbody>
				</table>
			</div>
			<!-- //환자정보 -->
			<div class="round_p_list_box">
				<h2>Voice EMR 기록</h2>
			</div>
			<!-- Voice EMR 기록 버튼 -->
			<div class="button_box">
				<ul class="button_con02">
					{{#each emrs}}
					<li>
						<a href="" class="btn_area02" data-id="{{_id}}" name="btnPastEMR">
							<span class="btn_txt02" data-id="{{_id}}">{{yymmdd}}</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
			<!-- //Voice EMR 기록 버튼 -->
			<!-- Voice EMR 테이블 -->
			<div class="voiceemr_list">
				{{#with curData}}
				<table>
					<caption>Voice EMR정보</caption>
					<col style="width:249px" />
					<col style="width:715px" />
					<thead>
					<tr class="vt_title">
						<th scope="colgroup" colspan="2" class="emr_top">TODAY&nbsp;&nbsp;&nbsp;&nbsp;19-05-03</th>
					</tr>
					</thead>
					<tbody>
					<tr class="vall">
						<th scope="row" class="b_top vname">S&O</th>
						<td class="b_ltop vtxt">{{so}}</td>
					</tr>
					<tr class="vall">
						<th scope="row" class="b_top vname">A</th>
						<td class="b_ltop vtxt">{{a}}</td>
					</tr>
					<tr class="vall">
						<th scope="row" class="b_top vname">P</th>
						<td class="b_ltop vtxt">{{p}}</td>
					</tr>
					<tr class="vall">
						<th scope="row" class="b_top vname">약처방</th>
						<td class="b_ltop vtxt">{{약처방}}</td>
					</tr>
					<tr class="vall">
						<th scope="row" class="b_top vname">주사</th>
						<td class="b_ltop vtxt">{{주사}}</td>
					</tr>
					</tbody>
				</table>
				{{/with}}
				<!-- Voice EMR 테이블 기록 버튼 -->
				<ul class="button_con03">
					<li>
						<a href="" class="btn_area03" name="btnInsertPopup">
							<span class="btn_txt03">입력하기</span>
						</a>
					</li>
					<li>
						<a href="" class="btn_area03" name="btnSaveCurData">
							<span class="btn_txt03">저장하기</span>
						</a>
					</li>
				</ul>
				<!-- //Voice EMR 테이블 기록 버튼 -->
			</div>
			<!-- //Voice EMR 테이블 -->
		</div>
		<!-- //contents -->
		<!-- 팝업 -->
		<div id="popup" style="display:none;">
			<!-- 기록가져오기 팝업 H1510 -->
			<div class="pop03" id="emr_pop_1" style="display: none;">
				<!-- Voice EMR 테이블 -->
				<div class="get_record">
					{{#with selData}}
					<table>
						<caption>Voice EMR정보</caption>
						<col style="width:249px" />
						<col style="width:720px" />
						<thead>
						<tr class="vt_title">
							<th scope="colgroup" colspan="2" class="emr_top">{{yymmdd}}  Voice EMR 기록</th>
						</tr>
						</thead>
						<tbody>
						<tr class="vall">
							<th scope="row" class="b_top vname">S&O</th>
							<td class="b_ltop vtxt">{{so}}</td>
						</tr>
						<tr class="vall">
							<th scope="row" class="b_top vname">A</th>
							<td class="b_ltop vtxt">{{a}}</td>
						</tr>
						<tr class="vall">
							<th scope="row" class="b_top vname">P</th>
							<td class="b_ltop vtxt">{{p}}</td>
						</tr>
						<tr class="vall">
							<th scope="row" class="b_top vname">약처방</th>
							<td class="b_ltop vtxt">{{약처방}}</td>
						</tr>
						<tr class="vall">
							<th scope="row" class="b_top vname">주사</th>
							<td class="b_ltop vtxt">{{주사}}</td>
						</tr>
						</tbody>
					</table>
					{{/with}}
				</div>
				<!-- //Voice EMR 테이블 -->
				<ul class="pop_btn">
					<li>
						<a href="" name="btnClosePastPopup">
							<img src="/images/round/voice/btn_bclose.png" alt="닫기" />
						</a>
					</li>
					<li>
						<a href="" name="btnGetPastPopup">
							<img src="/images/round/voice/btn_getrec.png" alt="기록가져오기" />
						</a>
					</li>
				</ul>
			</div>
			<!-- //기록가져오기 팝업 H1510 -->

			<!-- 입력 팝업 H1520 -->
			<div class="pop03" style="display:none;" id="emr_pop_2">
				<div class="input_record" >
					<ul  class="pop_btn">
						<li class="imgswap">
							<a name="insert_write">
								<img src="/images/round/voice/btn_write.png" alt="글쓰기" />
								<img src="/images/round/voice/btn_write_h.png" alt="글쓰기" />
							</a>
						</li>
						<li class="imgswap">
							<a name="insert_mic">
								{{#if isRecording}}
									<img src="/images/round/voice/bnt_voice_s.png" alt="음성입력" />
									<img src="/images/round/voice/bnt_voice_h.png" alt="음성입력" />
								{{else}}
									<img src="/images/round/voice/bnt_voice.png" alt="음성입력" />
									<img src="/images/round/voice/bnt_voice_h.png" alt="음성입력" />
								{{/if}}
							</a>
						</li>
						<li class="imgswap">
							<a name="insert_save">
								<img src="/images/round/voice/btn_save.png" alt="저장하기" />
								<img src="/images/round/voice/btn_save_h.png" alt="저장하기" />
							</a>
						</li>
					</ul>
					<ul class="radio_box">
						<li>
							<ul class="radio_f">
								<li>
									<input type="radio" name="pop_emr" id="so" checked/><label for="so"><span class="va_m">S&O</span></label>
								</li>
								<li>
									<input type="radio" name="pop_emr" id="a" /><label for="a"><span class="va_m">A</span></label>
								</li>
								<li>
									<input type="radio" name="pop_emr" id="p" /><label for="p"><span class="va_m">P</span></label>
								</li>
							</ul>
						</li>
						<li>
							<ul class="radio_s">
								<li>
									<input type="radio" name="pop_emr" id="약처방" /><label for="약처방"><span class="va_m">약처방</span></label>
								</li>
								<li>
									<input type="radio" name="pop_emr" id="주사" /><label for="주사"><span class="va_m">주사</span></label>
								</li>
							</ul>
						</li>
					</ul>
					<div class="text-right">
						<a href="#" name="btn_del"><img src="/images/round/voice/del_btn_na.png"></a>
					</div>
					<div>
						<textarea id="round_trans_area" class="noresize" placeholder="내용을 작성해주세요." name="insert_textarea"></textarea>
					</div>
				</div>
			</div>
			<!-- //입력 팝업 H1520 -->
		</div>
		<!-- //팝업 -->

		<!-- 회진계속팝업 H1530 : 위에 팝업과 스타일이 다름 - 검은레이어 보임 -->
		<div id="dim" style="display:none;">
			<div class="pop01">
				<div class="next_p">
					<p class="next_txt01">다음 환자 회진을 위해<br />이동하시겠습니까?</p>
					<p class="next_txt02">아니오 선택 시 환자리스트 화면으로<br />이동합니다.</p>
				</div>
				<ul class="pop_btn">
					<li>
						<a name="goToCstList">
							<img src="/images/round/voice/btn_bno.png" alt="아니오" />
						</a>
					</li>
					<li>
						<a name="goToNextCst">
							<img src="/images/round/voice/btn_nextp_b.png" alt="다음환자" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- //회진계속팝업 H1530 -->

	</div>
</template>