@charset "utf-8";




/*=== [contents] ===*/
.guide_clinic_page {/*position:relative;*/}

 /* 진료과 안내 스퀘어 아이콘 */
.guide_m_data .clinic_m_box {width:840px; display:inline-block; overflow:hidden;}
.guide_m_data .clinic_m_box li {float:left; margin:12px;}
.guide_m_data .clinic_m_box li > a {display:block; width:185px; height:185px;}




/* 진교과 상단 페이징 */
.contents .page_clinic_wrap {position:absolute; left:135px; top:500px; font-size:0;}
.contents .page_clinic_box {overflow:hidden; display:inline-block;}
.contents .page_clinic_box li {float:left;}
.contents .page_clinic_box li + li {margin-left:10px;}
.contents .page_clinic_box li .page_num {display:block; width:40px; height:40px; border-radius:50%; background-color:#fff; font-size:20px; font-weight:700; padding-top:12px; box-sizing:border-box;}
.contents .page_clinic_box li .selected {background-color:#204bb4; color:#fff;}




