@charset "utf-8";




/*=== [contents] ===*/

/* 음성검색 타이틀 폰트 */
.contents .long_a {width:800px; height:1250px; text-align:left;  font-size:50px; line-height:1.3; font-size:38px; line-height:1.5;}
.voice_answer  p {}




/* 길안내 이미지 */
.contents .img_answer_box {background-color:#fff; height:100%; padding-top:150px;}
.img_answer_box img {vertical-align:middle;}

