<template name="header">
	<div id="header">
		<div class="header">
			<div class="h_patient">
				<a href="/patientList"><img src="/images/common/h_patient.png" alt="환자" /></a>
			</div>
			<div class="h_voice">
				<a href="" name="voiceEmr">
					<img src="/images/common/h_voice.png" alt="음성검색" id="mic_image_tag" />
				</a>
			</div>
			<div class="h_doctor">
				<a href="" name="reqVideo"><img src="/images/common/h_doctor.png" alt="의사"  /></a>
			</div>
			<div class="h_mic">
				<a href="">
					<img src="/images/common/h_mic.png" alt="마이크" />
				</a>
			</div>
			<div class="h_home">
				<a href="" name="btnRoundEnd"><img src="/images/common/h_home.png" alt="홈" /></a>
			</div>
		</div>
	</div>
</template>