<template name="briefPopup">
	<!-- 팝업 -->
	<div id="briefPopup" style="display:none;">
		<!-- 자세히보기 팝업 -->


		<div class="pop01">
			<img class="modal-content" id="img01">
			<div class="zoom_detail">
				<ul class="detail_txt">
				</ul>
			</div>
			<div class="close">
				<img src="/images/common/btn_close.png">
			</div>
		</div>
		<div class="pop02">
			<div class="zoom_detail" style="color:black; font-size: 30px; text-align: left;">
				{{{팝업결과}}}
				<!--<ul class="detail_txt">-->
					<!--<li><b>병리번호  : </b><p>S19-000715</p></li>-->
					<!--<li><b>채&nbsp;&nbsp;취&nbsp;일  : </b><p>2019-02-12&nbsp;&nbsp;10:44:40&nbsp;&nbsp;임은정</p></li>-->
					<!--<li><b>대표검체  : </b><p>건강검진요함</p></li>-->
					<!--<li><b>세부검체  : </b><p>건강검진요함</p></li>-->
					<!--<li><b>내&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;용 : </b><p>건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함</p></li>-->
				<!--</ul>-->
			</div>
			<div class="close">
				<img src="/images/common/btn_close.png">
			</div>
		</div>
		<!-- //자세히보기 팝업 -->
	</div>
	<!-- //팝업 -->

</template>