<template name="briefPopup">
	<!-- 팝업 -->
	<div id="briefPopup" style="display:none;">
		<!-- 자세히보기 팝업 -->

		<div id="popup">
			<div class="pop01">
				<div class="close"><img src="/images/common/btn_close.png"></div>


				<div class="slider-container">
					<div class="slider">
						<div class="slider__item">
							<img src="/images/round/patient/x_sample01.jpg" alt="">
							<span class="slider__caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="">Далее >></a> </span>
						</div>
						<div class="slider__item">
							<img src="/images/round/patient/x_sample01.jpg" alt="">
							<span class="slider__caption">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, facilis.</span>
						</div>
						<div class="slider__item">
							<img src="/images/round/patient/x_sample01.jpg" alt="">
							<span class="slider__caption">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, culpa!</span>
						</div>
					</div>
					<div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
						<span><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z"/></svg></span>
					</div>
					<div class="slider__switch slider__switch--next" data-ikslider-dir="next">
						<span><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z"/></svg></span>
					</div>
				</div>


			</div>


		</div>

		<!--<div class="pop01">-->
			<!--<img class="modal-content" id="img01">-->
			<!--<div class="zoom_detail">-->
				<!--<ul class="detail_txt">-->
				<!--</ul>-->
			<!--</div>-->
			<!--<div class="close">-->
				<!--<img src="/images/common/btn_close.png">-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="pop02">-->
			<!--<div class="zoom_detail" style="color:black; font-size: 30px; text-align: left;">-->
				<!--{{{팝업결과}}}-->
				<!--&lt;!&ndash;<ul class="detail_txt">&ndash;&gt;-->
					<!--&lt;!&ndash;<li><b>병리번호  : </b><p>S19-000715</p></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><b>채&nbsp;&nbsp;취&nbsp;일  : </b><p>2019-02-12&nbsp;&nbsp;10:44:40&nbsp;&nbsp;임은정</p></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><b>대표검체  : </b><p>건강검진요함</p></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><b>세부검체  : </b><p>건강검진요함</p></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><b>내&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;용 : </b><p>건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함건강검진요함</p></li>&ndash;&gt;-->
				<!--&lt;!&ndash;</ul>&ndash;&gt;-->
			<!--</div>-->
			<!--<div class="close">-->
				<!--<img src="/images/common/btn_close.png">-->
			<!--</div>-->
		<!--</div>-->
		<!-- //자세히보기 팝업 -->
	</div>
</template>