@charset "utf-8";




/*=== [contents] ===*/

 /* 회진 환자 브리핑 - 리스트 */
.contents .patient_list {width:965px; margin-bottom:40px;}
.contents .patient_list table {width:965px;}
.contents .patient_list .pname {height:80px; background-color:#fff; text-align:center; font-size:20px; }
.contents .patient_list .p_title {height:70px; background-color:#737d91; color:#fff;}


 /* 회진 환자 브리핑 - 엑스레이 사진 */
.contents .patient_x {width:965px; height:540px; background-color:#000; padding:60px 55px; box-sizing:border-box; margin-bottom:40px;}
.contents .patient_x li {float:left; width:398px; height:418px; border:1px solid #666;}
.contents .patient_x li + li {margin-left:55px;}


 /* 회진 환자 브리핑 - 검사탭메뉴 */
 #tab .test_menu {border:1px solid #777; width:963px; display:inline-block; background-color:#fff; margin-bottom:20px;}
 #tab .test_menu li {float:left; width:320px; font-size:24px; border-right:1px solid #777;}
 #tab .test_menu li.tab_02 {width:321px;}
 #tab .test_menu li:nth-child(3) {border-right:none;}
 #tab .test_menu .ttab {display:block; height:58px; padding-top:15px; box-sizing:border-box;}
 #tab .test_menu .selected {background-color:#1f4bb4; color:#fff;}



   /* 회진 환자 브리핑 - 리스트 */
.contents .patient_test_list  {width:965px; /*margin-bottom:60px;*/}
.contents .patient_test_list table {width:965px;}
.contents .patient_test_list .pname {height:44px; background-color:#fff; text-align:center; font-size:20px;}
.contents .patient_test_list .p_title {height:49px; background-color:#737d91; color:#fff;}


.contents .patient_test_list  img {vertical-align:middle;}  /*자세히보기 버튼 정렬*/



